POSTGRES_DB=blazeflow
POSTGRES_USER=blazeflow
POSTGRES_PASSWORD=change-me

DJANGO_SECRET_KEY=change-me-in-every-environment
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
MAX_MEDIA_UPLOAD_BYTES=1073741824
MAX_REVIEW_ATTACHMENT_BYTES=26214400

APP_BASE_URL=http://localhost:8000
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Blaze Flow <no-reply@localhost>
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=false
EMAIL_USE_SSL=false

OUTBOX_MAX_ATTEMPTS=5
OUTBOX_RETRY_BASE_SECONDS=60
OUTBOX_RETRY_MAX_SECONDS=3600
